body {
    background-color: rgb(246, 246, 236);
    background-size: cover; /* Esto hace que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Esto evita que la imagen se repita */
    background-attachment: fixed; /* Esto hace que el fondo permanezca fijo al hacer scroll */
    background-position: center; /* Esto centra la imagen */
}

p { 
    margin-top: auto !important;
    margin-bottom: 0 !important;
}

footer {
    background-color: #263238;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    padding: 64px 165px;
    align-items: flex-start;
    gap: 125px; 
}

.a-text {
    font-size: 24px !important;
}	

.logo-nav {
    display: flex;
    height: 30px;
    padding: 3px 15.093px 3px 8.85px;
    align-items: center;
    gap: 5px;
}

.text-btn {
    font-size: 20px;
}

.text-logo {
    color: #000;
    font-family: Lalezar;
    font-size: 40px;
}
.text-logo-white {
    color: #fff;
    font-family: Lalezar;
    font-size: 32px;
}

.welcome {
    color:#4D4D4D;
    font-family: Inter;
    font-size: 64px;
}

.info-h1 {
    color: #2194F3;
    font-family: Inter;
    font-size: 32px;
}

.info-2 {
    color: #717171;
    font-family: Inter;
    font-size: 20px;
}

.info-3 {
    color: #4D4D4D;
    font-family: Inter;
    font-size: 36px;
}

.info-4 {
    color: #717171;
    font-family: Inter;
    font-size: 14px;
}

.footer-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px; 
    width: 350px; 
}

.text-footer-1 {
    color: #F5F7FA;
    font-family: Inter;
    font-size: 14px;
}

.footer-2 {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 635px;
}

.footer-2-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px; 
}

.text-footer-2 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
}

.task-to-do {
    display: flex;
    width: 400px;
    padding: 32px 24px 64px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 33px; 
    background: #FAFAFA;
    border-radius: 10px;
}

.main-contact {
    display: flex;
    padding: 20px 149px 80px 70px;
    justify-content: center;
    align-items: center;
    gap: 152px; 
}

.contact-field {
    width: 920px;
    height: 765px;
    flex-shrink: 0; 
}

.title-contact {
    color: #2194F3;
    font-family: Inter;
    font-size: 62px; 
    text-align: center;
}

.inner-contact {
    width: 612px;
    height: 535px;
    flex-shrink: 0;
    gap: 240px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: none;
}

.form-control:focus {
    border-color: #2194F3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-contact {
    background-color: #2194F3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-contact:hover {
    background-color: #2194F3;
}